In [1]:
import pandas as pd
import json
from sqlalchemy import create_engine
from config import api_key
import requests
import time
import numpy as np

In [ ]:
path = 'response.json'
with open(path) as input_file:
    data=json.load(input_file)

In [ ]:
data

In [ ]:
data_pd = pd.DataFrame(data["results"])
data_pd

In [ ]:
path = 'response2.json'
with open(path) as input_file:
    data=json.load(input_file)

In [ ]:
data_pd2 = pd.DataFrame(data["results"])
data_pd2

In [ ]:
data_combined = pd.concat([data_pd,data_pd2])
data_combined

In [ ]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Climate_Project')
data_combined.to_sql('dataset_id', engine)

In [2]:
master_df = pd.read_csv("master_data.csv")
master_df.head()

,date,datatype,station,attributes,value,city_id
0,1981-01-01T00:00:00,DP01,GHCND:USW00014910,0,106.0,CLIM:2704
1,1981-01-01T00:00:00,DP10,GHCND:USW00014910,0,49.0,CLIM:2704
2,1981-01-01T00:00:00,DP1X,GHCND:USW00014910,0,6.0,CLIM:2704
3,1981-01-01T00:00:00,DSND,GHCND:USW00014910,NaN,74.0,CLIM:2704
4,1981-01-01T00:00:00,DSNW,GHCND:USW00014910,0,6.0,CLIM:2704

In [3]:
# randomly generate 1000 rows from master dataframe
master_data_1000 = master_df.iloc[np.random.choice(np.arange(len(master_df)), 1000, False)]
master_data_1000.head()

,date,datatype,station,attributes,value,city_id
242750,2005-01-01T00:00:00,DT32,GHCND:USC00154958,0,91.0,HUC:0514
495124,1983-01-01T00:00:00,PSUN,GHCND:USW00094830,X,55.6,CLIM:3901
767229,2007-01-01T00:00:00,DP1X,GHCND:USS0010J26S,T,3.0,FIPS:49013
907808,2006-01-01T00:00:00,DT00,GHCND:USC00040379,0,0.0,HUC:18
726610,1987-01-01T00:00:00,CDSD,GHCND:USW00012958,NaN,1311.0,CLIM:2209

##### stations = master_df.station.unique()
print(stations)

In [8]:
master_half = master_df.sample(frac =.50)

In [ ]:
lat_long_dict = []


for station in stations:
    base_url = requests.get(f'https://www.ncdc.noaa.gov/cdo-web/api/v2/stations/{station}', headers={'token':'API_KEY'})
    d = json.loads(base_url.text)
    lat_long_dict.append(d)   
#     time.sleep(10)

In [ ]:
len(lat_long_dict)

In [ ]:
stations2_df = pd.DataFrame.from_dict(lat_long_dict)

In [ ]:
stations2_df.head()

In [ ]:
len(stations2_df)

In [ ]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Climate_Project')
stations2_df.to_sql('station_id2', engine)

In [9]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Climate_Project')
master_half.to_sql('master_half', engine)

In [ ]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Climate_Project')
master_df.to_sql('master_df', engine)