In [1]:
# Dependencies and Setup
import pandas as pd
import json
import os

In [10]:
combine_data=[]

for json_file in os.listdir('Resources'):
    with open('Resources/'+json_file) as f:
        json_2 = json.load(f)
        data = json_2['results']
        
        for item in data:
            item.update({'city_id':json_file.split("_")[0]})
        combine_data.extend(data)

In [11]:
final_data = pd.DataFrame(combine_data)

In [12]:
final_data.head()

,date,datatype,station,attributes,value,city_id
0,1981-01-01T00:00:00,DP01,GHCND:USW00014910,0,106.0,CLIM:2704
1,1981-01-01T00:00:00,DP10,GHCND:USW00014910,0,49.0,CLIM:2704
2,1981-01-01T00:00:00,DP1X,GHCND:USW00014910,0,6.0,CLIM:2704
3,1981-01-01T00:00:00,DSND,GHCND:USW00014910,NaN,74.0,CLIM:2704
4,1981-01-01T00:00:00,DSNW,GHCND:USW00014910,0,6.0,CLIM:2704

In [13]:
final_data.to_csv('master_data.csv', index = False )